@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: #030303;
  --shader: #f1efec;
  --dark-blue: #123458;
  --beige: #d4c9be;
  --custom-gray: #999393;
}

@theme inline {
  --color-background: var(--background);
  --color-shader: var(--shader);
  --color-dark-blue: var(--dark-blue);
  --color-beige: var(--beige);
  --color-custom-gray: var(--custom-gray);
}

body {
  padding: 0;
  margin: 0;
}
