@import "tailwindcss";

:root {
  --background: #26282b;
  --shader: #353941;
  --dark-blue: #5f85db;
  --ocean-blue: #90b8f8;
  --custom-gray: #999393;
}

@theme inline {
  --color-background: var(--background);
  --color-shader: var(--shader);
  --color-dark-blue: var(--dark-blue);
  --color-ocean-blue: var(--ocean-blue);
  --color-custom-gray: var(--custom-gray);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
